<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Admin Starter Template : Tailwind Toolbox</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

</head>

<body lang="<%= I18n.locale %>" class="bg-gray-900 font-sans leading-normal tracking-normal mt-12">

<%= render 'layouts/admin/nav' %>


<%= yield %>


</body>

</html>